
<nav class="nav justify-content-center">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link"href="/contact"Match="NavLinkMatch.All">Contact</NavLink>
    <NavLink class="nav-link" href="/blog" Match="NavLinkMatch.All">Blog</NavLink>
</nav>


@code {

}
