@page "/blog"

<div class="col-md-10 ml-auto mr-auto">
    <BlogPreviewComponent Description="This is a description for the article thing."
                          ImagePath="assets/img/Visual-Studio.png"
                          BlogLink="/blog/testblog"
                          Title="This is the title" />
</div>

@code {

}
