@page "/"
@inject IJSRuntime jsRuntime

<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image blur-image" data-parallax="true" style="background-image: url('../assets/img/Visual-Studio.png');">
        </div>
        <div class="content-center">
            <h1 class="title">Nehemiah Williams</h1>
            <hr class="solid" />
            <h2>Software Developer</h2>
            <div class="text-center">
                <a href="https://www.linkedin.com/in/nehemiah-williams-4bb0841b4/" class="btn btn-primary btn-icon  btn-round">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="mailto: nehemiahwilliams80@gmail.com" class="btn btn-primary btn-icon btn-round">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="https://github.com/NehemiahWilliams" class="btn btn-primary btn-icon btn-round">
                    <i class="fa fa-github"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="section section-about-us" style="padding-bottom: 0px">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">About Me</h2>
                    <p>
                        I enjoy hiking, fishing, and camping with my pup on the weekends.
                        I love being a developer but I find it refreshing to unplug when I can. After work you can find
                        me at the boxing gym, learning a new skill, or on the couch with the pup.
                    </p>
                    <p>
                        Some of the technologies that I like to
                        use include .NET, Blazor, Bootstrap, Azure, and Docker. I've built internal toolings and interfaces,
                        public facing websites, web APIs, and windows services. The thing I enjoy most about being a
                        software engineer is the opportunity to learn new things with the ever-changing world of technology.
                    </p>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview" style="padding-bottom: 0px; padding-top: 1rem">
                <div class="row">
                    @if (!IsMobile)
                    {
                        <div class="col-md-6">
                            <!-- First image on the left side -->
                            <div class="image-container image-left" style="background-image: url('../assets/img/docker-dashboard.png')">
                                <p class="blockquote blockquote-primary">
                                    "The best way to learn is to teach."
                                    <br>
                                    <br>
                                    <small>- Frank Oppenheimer</small>
                                </p>
                            </div>
                            <!-- Second image on the left side of the article -->
                            <div class="image-container image-left-bottom img-fluid" style="background-image: url('../assets/img/blazor.png')"></div>
                        </div>
                    }
                    <div class="col-md-5" style="padding-top: 1rem">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right img-fluid" style="background-image: url('../assets/img/dotnet-logo.png'); padding-bottom: 1rem"></div>
                        <h3 style="padding-top: 2rem">Following Up</h3>
                        <p>
                            If you want to look at some of the implementations of the technologies I listed above,
                            the source code is available on my github for this website. I've used Blazor
                            as the framework to build this site and Azure for the hosting.
                        </p>
                        <p>
                            If you want to stay up to date with articles and tutorials on some of these technologies,
                            sign up here to receive alerts on new posting. I'll never spam you or sell your information
                            to anyone and you can unscubscribe at any time.
                        </p>
                        <p>
                            If you are looking to work with me, fill out the contact card below or reach out to me on linkeden. You can also dowload a copy of
                            my resume by <a href="../assets/files/Nehemiah_Williams_Resume.pdf" download>clicking here</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Contact IsMobile="IsMobile"/>
</div>


@code {
    bool IsMobile;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        IsMobile = await jsRuntime.InvokeAsync<bool>("isDevice");
        StateHasChanged();
        await base.OnAfterRenderAsync(firstRender);
    }
}